@import './utils/utils';
@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './components/links';
@import './components/buttons';
@import './components/header';
@import './components/hero-section';
@import './components/advantages-section';
@import './components/traditions-section';
@import './components/chefs-section';
@import './components/formats-section';
@import './components/contacts-section';
@import './components/footer';
@import './components/modal';
@import './components/form';
@import './components/checkbox';

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
  outline: 1px solid #75240a;
}

.section-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}
